.gitignore
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/.name
.idea/backtesting&visualization.iml
downloading_data.py
_data
__data
_data/ADAUSDT_1d.xlsx
_data/ADAUSDT_1h.xlsx
_data/ADAUSDT_2h.xlsx
_data/ADAUSDT_4h.xlsx
_data/ADAUSDT_15m.xlsx
_data/ADAUSDT_30m.xlsx
__data/ADAUSDT_1d.xlsx
__data/ADAUSDT_1h.xlsx
__data/ADAUSDT_2h.xlsx
__data/ADAUSDT_4h.xlsx
__data/ADAUSDT_15m.xlsx
__data/ADAUSDT_30m.xlsx